*{
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
margin:0;
background:#08000f;
color:white;
}


/* SIDEBAR */

.sidebar{
position:fixed;
left:0;
top:0;
width:150px;
height:100%;
background:#150021;
border-right:2px solid #7020a0;
padding-top:20px;
}


.logo{
text-align:center;
font-size:18px;
font-weight:bold;
color:#d28aff;
}


.nav button{

display:block;
width:120px;
margin:15px auto;
padding:10px;

background:#26003d;
color:white;

border:1px solid #8c38ff;
border-radius:10px;

cursor:pointer;

}


.nav button:hover{

background:#5b1a8c;

}



/* MAIN CONTENT */

.main{

margin-left:170px;
padding:25px;

}


h1{

color:#d28aff;

}



h2{

color:#e3b3ff;

}



/* CARDS */

.card{

background:linear-gradient(
145deg,
#190029,
#08000f
);

border:1px solid #7020a0;

border-radius:15px;

padding:15px;

margin:15px 0;

box-shadow:0 0 15px #24003b;

}



/* SEARCH */

.search{

width:70%;

padding:12px;

background:#100019;

color:white;

border:2px solid #8c38ff;

border-radius:12px;

font-size:16px;

}



/* CLICKABLE CHARACTERS */

.click{

cursor:pointer;

color:#d28aff;

transition:.2s;

}


.click:hover{

color:white;

transform:translateX(5px);

}



/* INPUTS */

input{

background:#12001c;

color:white;

border:1px solid #8c38ff;

padding:10px;

border-radius:8px;

}



/* BUTTONS */

.matchbtn{

background:#7d2cff;

color:white;

border:none;

padding:10px 15px;

border-radius:8px;

cursor:pointer;

}


.matchbtn:hover{

background:#a14cff;

}



/* HIDDEN SECTIONS */

.hidden{

display:none;

}



/* NEWS */

#newsFeed .card{

border-left:5px solid #ff33cc;

}



/* CHARACTER FACT LIST */

li{

margin:8px;

}
